# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

# TODO: Change all these infos later on.
title: Students Automobile Club
email: sac-kgec@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  SAC-KGEC is a automobile club of KGEC.
baseurl: "/invinciblenobita.github.io" # the subpath of your site, e.g. /blog
url: "https://invinciblenobita.github.io/" # the base hostname & protocol for your site, e.g. http://example.com

#we wont be needing them
#twitter_username: jekyllrb
#github_username:  jekyll

# we can create our own variales here. & the way well acess them in our page is by using {{ site.myvariable }}
#Refer above notes:
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

twitter_path: https://twitter.com/sac-kegc
instagram_path: https://instagram.com/sac-kegc
facebook_path: https://facebook.com/sac-kegc
github_path: https://github.com/sac-kegc
youtube_path: https://youtube.com/sac-kegc

pathToBlogImgBin: /assets/img/blog/blogs/

# Build settings
permalink: pretty     # whenever we r going to type a url, we r not going to have the extension on the file
#theme: minima   /// we dont need this theme as well.. well be using sassand autoprefixer
plugins:
  - jekyll-feed
  - jekyll-autoprefixer

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
sass:
  sass_dir: _sass