---
layout: default
---
{% for post in site.posts offset: 0 limit: 1 %}
<header class="blog-index-header-main" style="background-image: url('{{ site.baseurl }}{{ site.pathToBlogImgBin }}{{ post.featImg }}');">
    <div class="overlay-dark"></div>
    {% include nav.html %}
    <div class="blog-index-title">
        <h1 class="featured-blog-post-title"> {{ post.title }} </h1>
        <a href="{{ post.url }}" class="read-featured-blog-post">Read</a>
    </div>
    <!--<a href="#blurb" class="home-avatar" style="background-image: url('{{ site.baseurl }}/assets/img/hero-image.png');"></a>-->
</header>
{% endfor %}

<div class="blogIndexWrapper">
    {% for post in site.posts %}
        <div class="blogPostContainer" data-aos="fade-up">
            <a href="{{ post.url }}" class="blogPostFeatImg" style="background-image: url('{{ site.baseurl }}{{ site.pathToBlogImgBin }}{{ post.featImg }}');"></a>
            <a href="" class="blogCategory">{{ post.categories }}</a>
            <a href="{{ post.url }}" class="blogTitle">{{ post.title }}</a>
            <p class="blogExcerpt">{{ post.excerpt }}</p>
        </div>

    {% endfor %}
</div>