nav.nav-wrap
    transition: all 0.3s ease-in
    position: fixed
    border: 2px solid grey
    top: 0
    left: 0
    background-color: #3B3B3B
    right: 0
    width: 100%
    height: 110px
    z-index: 10000 //maximium. As high as we can....;P cuz we dont want it to be "overpowered"
    display: flex
    justify-content: space-between
    margin: auto
    padding: 5px
    @media screen and ( max-width: 600px )
        padding: 5px
        height: 60px

    //a.nav-logo
    //   height: 80px
    //    width: 80px
    //    border-radius: 100%
    //    margin-left: 150px // TODO: remove this element "margin-left" it takes away responsiveness
    //    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, .25)
    //    background-image: 
    //        image: url('../img/hero-image.png')
    //        size: cover
    //        position: center center
    //        repeat: no-repeat
        //for bootstrap type stuff 
    a.nav-logo1, a.nav-logo2
        //background: $primary  // TODO: Add image specific to that blog 
        height: 100px
        width: 80px
        flex: 0 0 100px
        margin-left: 15px
        margin-right: 15px
        cursor: pointer
        background: 
            size: cover
            position: center center
            repeat: no-repeat
        @media screen and ( max-width: 800px)
            margin-left: 2.5px
            margin-right: 2.5px
            height: 45px
            width: 45px
            background-size: 47px 47px
            //margin-bottom: -43px
    a.nav-logo1
        @media screen and ( max-width: 800px)
            padding-top: 6px
            background-size: 70px 70px
    a.nav-logo2
        margin-left: -40px
        background-size: 80px 80px
        postion: fixed
        @media screen and ( max-width: 800px)
            background-size: 48px 48px
            
    //.blog-img-one
    //    background: 
    //        image: url('../img/hero-image.png')
        
        
    a.nav-logo.nav-dark
        svg
            path
                fill: $primary
                
    ul.navigation 
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        text-decoration: none
        @media screen and ( max-width: 600px )
            display: none
        li
            display: block 
            padding-right: 70px
            a 
                color: white
                transition: all 0.5s ease-in
                font-size: 25px
                display: block
                padding-top: 10px
            a:hover 
                color: orange
        li:last-of-type
            padding-right: 40px
    ul.navigation.nav-dark
        li
            a
                color: white
            a:hover
                color: orange
                text-decoration: none
//toggle sass

.nav-toogle-open-wrapper
    display: none
    @media screen and ( max-width: 600px )
        display: flex
        color: white

.nav-toggle-close-wrapper
    position: relative
    height: 100px
    width: 50px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    overflow: visible

.toggled-nav-wrapper
    height: 100%
    width: 0
    position: fixed
    z-index: 1
    top: 0
    right: 0
    background-color: white
    overflow-x: hidden
    transition: 0.5s
    padding-top: 30px
    a
        text-decoration: none
    .internal-nav-links-wrapper, .external-nav-links-wrapper
        display: flex
        flex-direction: column
        justify-content: space-between
        text-align: right
    hr
        width: 100%
        margin: 30px 0 60px 0
    .internal-nav-links-wrapper
        margin-top: 50px
        height: 192px
        a.internal-link-wrapper
            display: flex
            flex-direction: row
            justify-content: flex-end
            align-items: center
            text-decoration: none
    .external-nav-links-wrapper
        height: 122px
        a.external-nav-links-wrapper
            display: flex
            flex-direction: row
            justify-content: flex-end
            align-items: center
.external-link-icon, .internal-link-icon
    height: 30px
    width: 30px
    margin-left: 20px
    background: 
        size: contain
        position: center center
        repeat: no-repeat

.internal-link-icon-home
    background-image: url('../img/icons/home.png')
.internal-link-icon-gallery
    background-image: url('../img/icons/gallery.png')
.internal-link-icon-blogs
    background-image: url('../img/icons/blogs.png')
.internal-link-icon-team
    background-image: url('../img/icons/team.png')
.internal-link-icon-about-us
    background-image: url('../img/icons/about.png')
.internal-link-icon-faculty
    background-image: url('../img/icons/faculty.png')

@media screen and ( min-width: 600px )
    .nav-toggle-open-wrapper, .nav-toggle-close-wrapper, .toggled-nav-wrapper, .nav-toggle-body-overlay
        display: none
    