<meta charset="utf-8">
<meta content="IE-edge,chrome=1" http-equiv="X-UA-Compatable">
<meta name="viewport" content="width=device-width, initial-scale-1">
<meta name="description" content="{{ site.description }}">
<title>{{ site.title }}</title>
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/smicons.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/footer.css">
