<!-- Navigation -->
<nav class="nav-wrap">
    <!--<a href="{{ site.baseurl }}/" class="nav-logo {% if page.url =='/' %}nav-dark{%endif%}"> </a>-->
        <!-- TODO: Either add a svg or ill add directly a logo-->
        <!--<a style="background-image: url('{{ site.baseurl }}/assets/img/hero-image.png');"></a>-->
    <a href="{{ site.baseurl }}/" class="nav-logo1" style="background-image: url('{{ site.baseurl }}/assets/img/favicon.png');"></a>
    <!--<a href="{{ site.baseurl }}/" class="nav-logo"></a>-->
    <ul class="navigation {% if page.url =='/' %}nav-dark{%endif%}">
        <li><a href="{{site.baseurl }}/" style="text-decoration: none;font-weight: bold;">Home</a></li>
        <li><a href="{{site.baseurl }}/gallery" style="text-decoration: none;font-weight: bold;">Gallery</a></li>
        <li><a href="{{site.baseurl }}/blog" style="text-decoration: none;font-weight: bold;">Blogs</a></li>
        <li><a href="{{site.baseurl }}/team" style="text-decoration: none;font-weight: bold;">Team</a></li>
        <li><a href="{{site.baseurl }}/about-us" style="text-decoration: none;font-weight: bold;">About Us</a></li>
        
    </ul>
    <a href="https://www.kgec.edu.in/" class="nav-logo2" style="background-image: url('{{ site.baseurl }}/assets/img/icons/kgec-logo.png');"></a>
    <div class="nav-toogle-open-wrapper {% if page.url== '/' %}nav-dark{% endif %}">
        <span style="font-size:30px; cursor:pointer; padding-right: 20px" onclick="openNav()" color="white">&#9776;</span>
        <!-- a svg with burger shape -->
    </div>
    <div class="toggled-nav-wrapper" id="mySidenav">
        <div class="nav-toggle-close-wrapper">
            <img src="{{ site.baseurl }}/assets/img/red_cross.png" width="20px" alignment="left" onclick="closeNav()">
        </div>
        <div class="internal-nav-links-wrapper">
            <a href="{{ site.baseurl }}/" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Home</h5><small>Who are we?</small></div><div class="internal-link-icon internal-link-icon-home"></div></a>
            <a href="{{ site.baseurl }}/gallery" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Gallery</h5><small>Some glimpses of our achivement</small></div><div class="internal-link-icon internal-link-icon-gallery"></div></a>
            <a href="{{ site.baseurl }}/blog" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Blogs</h5><small>What we think & write?</small></div><div class="internal-link-icon internal-link-icon-blogs"></div></a>
            <a href="{{ site.baseurl }}/team" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Team</h5><small>Meet some enthusiastic minds</small></div><div class="internal-link-icon internal-link-icon-team"></div></a>
            <a href="{{ site.baseurl }}/about-us" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>About Us</h5><small>What we do?</small></div><div class="internal-link-icon internal-link-icon-about-us"></div></a>
        </div>
        <br><br><br>
        <hr>
    </div>

</nav>
<!-- end of nav -->