<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="social-media-icons-wrapper">
  <ul class="smicons">

    <a href="{{site.facebook_path}}"">
      <li class="facebook">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <div class="smi-slider">
          <p>facebook</p>
        </div>
      </li>
    </a>

    <a href="{{site.twitter_path}}"">
      <li class="twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <div class="smi-slider">
          <p>twitter</p>
        </div>
      </li>
    </a>
    
    <a href="{{site.instagram_path}}"">
      <li class="instagram">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <div class="smi-slider">
          <p>instagram</p>
        </div>
      </li>

    <a href="{{site.youtube_path}}"">
      <li class="youtube">
        <i class="fa fa-youtube" aria-hidden="true"></i>
        <div class="smi-slider">
          <p>youtube</p>
        </div>
      </li>
    </a>

    <a href="{{site.whatsapp_path}}"">
      <li class="whatsapp">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        <div class="smi-slider">
          <p><a>whatsapp</a></p>
        </div>
      </li>
    </a>
  </ul>
</div>