.carousel,.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item,.view,body{
    height:100%;
    background-position: center;
}
html{
    height:80%;
}
.carousel-title{
    padding-top: 280px;
}

/******************* Notice Box and Who Are We ********************/
.float-container {
    padding: 30px;
    padding-bottom: 300px;
    padding-top: 50px;
}

.who-are-we, .notice-box {
    width: 50%;
    float: left;
    padding: 20px;
    padding-top: 70px;
    padding-left: 100px;
} 

.who-are-we p{
    font-weight: 500;
} 

.notice-box{
    padding-left: 120px;
    padding: 0;
}

.notice-container{
    display: flex;
    justify-content: center;
}

.notice-container ul,.notice-container li {
    padding: 3px;
    list-style-type: none;
    margin: 0;
}

.notice-container li {
    padding: 10px;
    list-style-type: none;
    margin: 0;
    letter-spacing: 1px;
    font-size: 20px;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.data-list {
    height: 270px;
    width: 500px;
    padding: 2rem;
    overflow-y: hidden;
    border-radius: 5px;
}

.fb-page{
    padding-left: 170px;
}


@media only screen and (max-width: 600px) {
    .notice-container li {
        padding: 5px;
        font-size: 16px;
    }

    .notice-wrapper h3{
        font-size: 20px;
    }

    .notice-wrapper{
        margin-left:8%;
        margin-right:8%;
    }

    .data-list {
        height: 200px;
    }

    .who-are-we, .notice-box {
        width: 100%;
        padding: 12px;
        padding-left: 0;
    } 

    .who-are-we h2{
        font-size: 25px;
    } 

    .who-are-we p{
        font-size: 16px;
        line-height: 30px;
    } 

    .who-are-we{
        padding-top: 0px;
    } 

    .notice-box h3{
        font-size: 25px;
    } 

    .notice-box{
        padding-left: 0;
        padding: 0;
    }

    .fb-page{
        padding-left: 5px;
    }

}

/*************** Notice Box Ends ********************/

/**************** Youtube player ********************/

.youtube-player-wrapper{
    display: flex;
    justify-content: center;
}

.youtube-player{
    height: 400px;
    width: 800px;
}

.youtube-header{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

/**************** Youtube player Ends********************/


@media only screen and (max-width: 600px) {
    html{
        height:45%;
    }
    .view{
        width:auto;
    }
    .carousel-title{
        padding-top: 160px;
    }
    .carousel-title h1{
        font-size: 22px;
    }
    .carousel-title h3{
        font-size: 16px;
    }


    .youtube-player{
        height: 165px;
        width: 330px;
    }
    .youtube-header{
        text-align: center;
        font-size: 22px;
        font-weight: 600;
    }

}