.carousel,.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item,.view,body{
    height:100%;
    background-position: center;
}
html{
    height:80%;
}
.carousel-title{
    padding-top: 280px;
}

/******************* Notice Box ********************/

.notice-wrapper{
    border: 2px solid #222;
    margin-left:20%;
    margin-right:20%;
    border-radius: 7px;
}

.notice-container{
    display: flex;
    justify-content: center;
}

.notice-container ul,.notice-container li {
    padding: 3px;
    list-style-type: none;
    margin: 0;
}

.notice-container li {
    padding: 10px;
    list-style-type: none;
    margin: 0;
    letter-spacing: 1px;
    font-size: 20px;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.data-list {
    height: 300px;
    width: 700px;
    padding: 2rem;
    overflow-y: hidden;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .notice-container li {
        padding: 5px;
        font-size: 16px;
    }

    .notice-wrapper h3{
        font-size: 20px;
    }

    .notice-wrapper{
        margin-left:8%;
        margin-right:8%;
    }

    .data-list {
        height: 200px;
    }
}

/*************** Notice Box Ends ********************/

/**************** Youtube player ********************/

.youtube-player-wrapper{
    display: flex;
    justify-content: center;
}

.youtube-player{
    height: 400px;
    width: 800px;
}

.youtube-header{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

/**************** Youtube player Ends********************/


@media only screen and (max-width: 600px) {
    html{
        height:45%;
    }
    .view{
        width:auto;
    }
    .carousel-title{
        padding-top: 160px;
    }
    .carousel-title h1{
        font-size: 22px;
    }
    .carousel-title h3{
        font-size: 16px;
    }


    .youtube-player{
        height: 165px;
        width: 330px;
    }
    .youtube-header{
        text-align: center;
        font-size: 22px;
        font-weight: 600;
    }

}